<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL方言，这边设定的是MySQL -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- 加载数据库的驱动 -->
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<!-- 数据库账号 -->
		<property name="hibernate.connection.username">sa</property>
		<!-- 数据库密码 -->
		<property name="hibernate.connection.password">123456</property>
		<!-- JDBC url -->
		<property name="hibernate.connection.url"> jdbc:sqlserver://127.0.0.1:1433;database=pro</property>

		<!-- 采用的字符集的编码是UTF-8 -->
	<!-- 	<property name="hibernate.connection.useUnicode">true</property> -->
<!-- 		<property name="connection.characterEncoding">UTF-8</property> -->

		<!-- 控制台显示SQL -->
		<property name="show_sql">true</property>

		<!-- 自动创建表结构 -->
		<property name="hbm2ddl.auto">update</property>

		<property name="format_sql">true</property>
		
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- 一次读的数据库记录数 -->
		<!-- <property name="jdbc.fetch_size">50</property> -->
		<!-- 设定对数据库进行批量删除 -->
		<!-- <property name="jdbc.batch_size">30</property> -->

		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<!-- <property name="hibernate.c3p0.timeout">120</property> -->
		<property name="automaticTestTable">Test</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="c3p0.testConnectionOnCheckout">true</property>
		<property name="c3p0.idleConnectionTestPeriod">18000</property>
		<property name="c3p0.maxIdleTime">25000</property>

		<!-- 指定映射文件的路径 -->
		<mapping resource="pro/dao/entity/Car.hbm.xml" />
		<mapping resource="pro/dao/entity/Stream.hbm.xml" />
		<mapping resource="pro/dao/entity/User.hbm.xml" />
		
		<mapping resource="pro/dao/entity/News.hbm.xml" />
		<mapping resource="pro/dao/entity/Car2.hbm.xml" />

	</session-factory>
</hibernate-configuration>